@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:regular);
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: lightgray;
  background-image: url("/assets/screen.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Press Start 2P", Permanent Marker;
}

/* Styling for the main title element (h1) */
h1 {
  color: aquamarine;
  text-align: center;
  font-family: "Press Start 2P", Permanent Marker;
  letter-spacing: 10px;
  text-transform: capitalize;
  margin-top: 40px;
}

/* Centering the game container */
#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

/* Styling for the game board */
#gameBoard {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 3px solid;
  position: relative;
}

/* ANIMATION for the win modal */
@keyframes colorFlash {
  0% {
    color: white;
    background-color: rgb(0, 223, 216);
  }
  50% {
    color: white;
    background-color: rgb(0, 223, 216);
  }
  51% {
    color: black;
    background-color: rgb(223, 0, 197);
  }
  100% {
    color: black;
    background-color: rgb(223, 0, 197);
  }
}

@-webkit-keyframes colorFlash {
  0% {
    color: white;
    background-color: rgb(0, 0, 0);
  }
  50% {
    color: white;
    background-color: rgb(0, 0, 0);
  }
  51% {
    color: black;
    background-color: rgb(0, 223, 216);
  }
  100% {
    color: black;
    background-color: rgb(0, 223, 216);
  }
}

@keyframes fadeAway {
  0% {
    transform: translateY(0px);
    color: rgb(0, 0, 0);
  }
  100% {
    transform: translateY(-30px);
    color: rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes fadeAway {
  0% {
    transform: translateY(0px);
    color: rgb(0, 192, 160);
  }
  100% {
    transform: translateY(-30px);
    color: rgba(0, 221, 188, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes translateUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-200px);
  }
}

@-webkit-keyframes translateUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-200px);
  }
}

@keyframes translateDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes translateDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Styling for the win modal */
#win-popup {
  background-color: rgb(223, 0, 0);
  animation: colorFlash 0.4s infinite;
  -webkit-animation: colorFlash 0.4s infinite;
  border: 5px solid rgb(29, 29, 29);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 80vw;
  max-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  box-sizing: border-box;
  display: none;
}

#win-popup > div {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  font-size: 1.5rem; 
  cursor: pointer;
  color: #fff; 
}

/* Styling for the score display */
#scoreText {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  color: #14f7ff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(20, 247, 255, 0.8),
    0 0 20px rgba(20, 247, 255, 0.5);
  border: 5px solid #fc01b9;
  border-radius: 15px;
  padding: 10px 20px;
  width: auto;
  display: inline-block;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 15px rgba(20, 247, 255, 0.5),
    inset 0 0 10px rgba(252, 1, 185, 0.3);
}

/* Styling for the "Restart" and "Home" buttons */
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.btn {
  color: white;
  background-color: #9c27b0;
  border: 3px solid #212121;
  border-radius: 15px;
  text-decoration: none;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  padding: 15px 30px;
  box-shadow: 0 2px #61616155;
  transition: all 0.3s ease;
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  cursor: pointer;
  opacity: 1;
  animation: fadeIn 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 30px;
}

.btn:hover,
.btn:active {
  background-color: #7b1fa2;
  transform: translateY(3px);
  box-shadow: 0 0 #616161;
}

.btn:active {
  background-color: #7b1fa2b9;
}

.btn:disabled {
  background-color: #616161;
  box-shadow: none;
  cursor: not-allowed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Styling for the 'p.s' message */
.ps,
.italicMessage {
  font-size: small;
  font-style: italic;
  font-weight: 100;
}

/* Styling for responsive screens */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  #scoreText {
    font-size: 2rem;
  }

  #restartBtn,
  #homeBtn {
    font-size: 18px;
    width: 100px;
    height: 40px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
    letter-spacing: 5px;
  }

  #scoreText {
    font-size: 2rem;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #restartBtn,
  #homeBtn {
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
    width: 80%;
    box-sizing: border-box;
  }

  .ps,
  .italicMessage {
    font-size: smaller;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 28px;
    letter-spacing: 8px;
  }

  #scoreText {
    font-size: 2.5rem;
    padding: 8px 16px;
  }

  .ps,
  .italicMessage {
    font-size: medium;
  }
}

@media (min-width: 600px) {
  .btn-container {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .btn {
    flex: 1;
    min-width: 150px;
    text-align: center;
  }
}

@media (max-width: 599px) {
  .btn-container {
    flex-direction: column;
    width: 185px;
  }

  #gameBoard {
    max-width: 90%;
    margin-top: 10px;
  }

  body {
    font-size: 16px;
  }

  .btn {
    width: 100%;
    box-sizing: border-box;
  }
}

.sound-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 2px 10px;
  font-size: 0.9em;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #616161a2;
  border: 2px solid rgba(29, 29, 29, 0.459);
  box-shadow: 2px 2px 0 rgb(41, 41, 41);
  -webkit-box-shadow: 2px 2px 0 rgb(41, 41, 41);
  -moz-box-shadow: 2px 2px 0 rgb(41, 41, 41);
}

.sound-btn:hover,
.sound-btn:active {
  cursor: pointer;
  background-color: #3a3939f8;
  box-shadow: 0px 0px 0 rgb(41, 41, 41);
  -webkit-box-shadow: 0px 0px 0 rgb(41, 41, 41);
  -moz-box-shadow: 0px 0px 0 rgb(41, 41, 41);
}

@media (max-width: 600px) {
  #win-popup {
    width: 50vw;
    padding: 5px; 
  }

  .close-button {
    font-size: 0.5em; 
  }
}

@media (max-width: 768px) {
  #win-popup {
    width: 90vw;
  }
}

@media (max-width: 400px) {
  #win-popup {
    width: 95vw;
  }
}
