@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:regular);

body {
    background-color: grey;
}

h1 {
    text-align: center;
    font-family: Permanent Marker;
    letter-spacing: 10px;
    text-transform: capitalize;
}

#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;
}

#scoreText{
    font-family : monospace;
    font-size: 100px;
}

#restartBtn{
    font-family: Permanent Marker, cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color: aquamarine;
    box-shadow: 0 0 5px cyan,
    0 0 25px aquamarine;
    border-color: aquamarine
}


#restartBtn:hover {
    opacity: 0.7;
    box-shadow: 0 0 5px aquamarine, 
    0 0 25px cyan, 0 0 50px aquamarine,
    0 0 100px cyan, 0 0 200px aquamarine
}