$primary-color: aquamarine;
$secondary-color: #070808;
$background-color: lightgrey;
$base-font-size: 20px;
$large-font-size: 30px;
$extra-large-font-size: 40px;
$font-family: "Permanent Marker", cursive;