@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:regular);

body {
    background-color: lightgray;
}

/* Styling for the main title element (h1) */
h1 {
    text-align: center;
    font-family: Permanent Marker;
    letter-spacing: 10px;
    text-transform: capitalize;
}

/* Styling for the container of the game */

#gameContainer{
    text-align: center;
}

/* Styling for the game board (canvas element) */
#gameBoard{
    border: 3px solid;
}


/* Styling for the score display */
#scoreText{
    font-family : monospace;
    font-size: 100px;
}

/* Styling for the "Restart" button */
#restartBtn{
    font-family: Permanent Marker, cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color: aquamarine;
    box-shadow: 0 0 5px aquamarine,
    0 0 25px aquamarine;
    border-color: aquamarine;
    transition: opacity 0.3s ease-in-out;
}

/* Styling for the "Restart" button on hover */
#restartBtn:hover {
    opacity: 0.7;
    transform: scale(1.1);
    box-shadow: 0 0 5px aquamarine, 
    0 0 25px aquamarine, 0 0 50px aquamarine,
    0 0 100px aquamarine, 0 0 200px aquamarine
}

/* Style for the 'Home' button */
#homeBtn {
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color: aquamarine;
    box-shadow: 0 0 5px aquamarine,
    0 0 25px aquamarine;
    border-color: aquamarine;
    transition: opacity 0.3s ease-in-out;
    margin-left: 20px;
    margin-top: 30px; 
}

/* Style for the 'Home' button on hover */
#homeBtn:hover{
    opacity: 0.7;
    transform: scale(1.1);
    box-shadow: 0 0 5px aquamarine,
    0 0 25px aquamarine, 0 0 50px aquamarine,
    0 0 100px aquamarine, 0 0 200px aquamarine; 
}

/* Styling for the 'p.s' message */
.ps,
.italicMessage {
  font-size: small;
  font-style: italic;
  font-weight: 100;
}