/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Permanent Marker";
    background-color: lightgray;
  }
  
  /* Style for the header section */
  #homePage {
    text-align: center;
    margin-top: 30px;
  }
  
  /* Style for the title */
  .indexTitle {
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
    color: #070808;
    letter-spacing: 5px;
    text-transform: capitalize;
  }
  
  /* Style for the "Play Game" button */
  #playGameBtn {
    display: block;
    margin: 30px auto;
    font-family: "Permanent Marker", cursive;
    font-weight: 900;
    font-size: 30px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: aquamarine;
    box-shadow: 0 0 5px aquamarine, 0 0 25px aquamarine;
    color: #000000;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* The "glow" effect for the 'Play Game' button */
  #playGameBtn:hover {
    opacity: 0.8;
    box-shadow: 0 0 5px aquamarine, 
    0 0 25px aquamarine, 0 0 50px aquamarine,
    0 0 100px aquamarine, 0 0 200px aquamarine
  }
  
  /* Instructions section */
  #instructions{
    text-align: center;
    margin: 30px auto;
    max-width: 600px;
  }

  #instructions h2 {
    font-size: 30px;
    font-family: "Permanent Marker", cursive;
    color: #070808;
    text-align: center;
  }

  #instructions p{
    font-size: 20px;;
    text-align: center;
  }

  #instructions ul {
    list-style-type: disc;
    margin-left: 30px;
    text-align: center;
  }

  #instructions li {
    font-size: 20px;
    color: #333333;
    margin: 10px 0;
    text-align: center;
  }

  .italicMessage{
    padding-top: 30px;
  }

  .ps {
    font-size: small;
    font-style: italic;
  }

  /* Animation for the title */
  @keyframes pulsate {
    0% {
      transform: scale(1);
      color: rgb(45, 195, 145);
    }
    50% {
      transform: scale(1.1);
      color: rgb(45, 201, 149);
    }
    100% {
      transfom: scale(1);
      color: #070808;
    }
  }

  .indexTitle{
    animation: pulsate 2s infinite;
  }

/* Added media queries for iphones in portrait mode */
  @media only screen and (max-width: 428px) and (orientation: portrait) {
    .indexTitle {
      font-size: 50px;
      letter-spacing: 2px;
    }

  #playGameBtn {
    font-size: 24px;
    width: 160px;
    height: 40px;
    padding: 5px;
  }

  #instructions {
    margin: 20 auto;
  }

  #instructions h2 {
    font-size: 28px;
  }

  #instructions p {
    font-size: 16px;
  }

  #instructions ul {
    margin-left: 20px;
  }

  #instructions li {
    font-size: 14px;
    margin: 10px 0;
  }

  .italicMessage {
    padding-top: 15px;
  }

  .ps {
    font-size: x-small;
  }
}

/* Media queries fo iphones in landscape mode */
@media only screen and (max-device-width: 428px) and (orientation: landscape) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #playGameBtn {
    font-size: 18px;
    width: 140px;
    height: 35px;
    padding: 3px;
  }
}
